<section class = "container-fluid" id = "top">
  <section class = "container" >
  <div class="row right">
      <div class = "offset-lg-1 col-lg-7  col-md-6 col-sm-12">
         <div class = "row" id = "logo">
      <%= image_tag("logo.png", :class => "logo")%>
       </div>
         <div class = "row" id = "maintitle">
          <h1 class = "display-4 font-weight-bold">L'APP POUR DEFIER TES POTES.<br> LET THE GAME BEGIN.</h1>
            <p>
              Tu es fan de foot, golf, tennis, pétanque, fléchette ou encore FIFA ?<br>
              Crée tes propres ligues, lance des défi à tes potes, analyse les résultats et les classements. Compare, analyse, partage. <br>Qui sera le champion ?
            </p>
         </div>
         <div>
          <%= link_to "Start here", leagues_path, class: "btn btn-danger", id: 'btn_start' %>
         </div>
      </div>
    <div class = " offset-lg-1 col-lg-3 col-sm-12 col-md-6 col align-self-center justify-content-center ">
        <%= image_tag("iphone.png", :class => "iphone")%>
   </div>

  </div>

 </section>
</section>

<section class = "container justify-content-center" id = "reasonsfluid" >

  <div class = "row justify-content-center"><h2>POURQUOI MY LEAGUE ?</h2></div>
  <div class="row reasonscontainer">

          <div class="col-lg-3 offset-lg-1 col-sm-12 reasone">
            <h3>Joue entre potes</h3>
            <ul>
              <li>Crée tes ligues et tournois</li>
              <li>Lance des défis à tes amis</li>
              <li>1 vs 1, 2 vs 2, tout est possible</li>
            </ul>
      </div>

    <div class="col-lg-3 offset-lg-1 col-sm-12 reastwo">
          <h3>Track tes performances</h3>
          <ul>
             <li>Compare tes résultats et classements</li>
             <li>Garde ton historique de jeu</li>
             <li>Analyse tes stats</li>
          </ul>
    </div>

    <div class="offset-lg-1 col-lg-3 col-sm-12 reasthree">
        <h3>Partage tes résultats</h3>
        <ul>
           <li>Chat avec tes coéquipiers</li>
           <li>Chambre et défie tes adversaires</li>
           <li>Partage sur les réseaux sociaux</li>
        </ul>
        </div>

     </div>

</section>

<section class = "container-fluid" id = "founderbg" >
<section class = "container" id = "founder" >
  <div class = "row justify-content-center">
    <h2>UN MOT DU FONDATEUR DE MY LEAGUE</h2>
  </div>


  <div class = "row justify-content-center">


      <div class="col-lg-2 col-sm-12" id = "presentation">
        <%= image_tag("matt.jpg", :class => "profil")%>
      </div>

       <div class = "offest-lg-1 col-lg-5 col-sm-12" >
        <p class="blockquote">
          "Ma vie, c'est le sport. <br>L'esprit de compétition est ma motivation. Mes potes sont ma force. Analyser, comparer et partager mes performances, voilà ma satisfaction.<br>
            J'ai créé My League pour permettre à tout le monde de pratiquer leur passion du sport avec leurs potes comme de vrais champions.
          "
        </p>
        <h3>- Maradenis</h3>
      </div>
  </div>

</section>
</section>

<section class = "container-fluid" id = "refsec" >
<section class = "container" id = "ref" >
  <div class = "row justify-content-center">
    <h2>ILS ONT ESSAYÉ MY LEAGUE, ILS ONT KIFFÉ !</h2>
  </div>
  <div class = "row justify-content-center people">
       <div class = "col-lg-4 col-sm-12 peeps" >

      <blockquote class="blockquote">"Trop bien c't'appli, je kiffe d'chambrer mes potes mouhahaha"</blockquote><p>Seb, 19 ans<br>Football</p>

      </div>
       <div class = "col-lg-4 col-sm-12 peeps" >

      <blockquote class="blockquote">"Super appli !!! Depuis le temps que je cherche ça. Ca gère les classements, les suivis à notre place. Trop cool"</blockquote> <p>Jordan, 23 ans<br>Tennis</p>
        </div>
      <div class = "col-lg-4 col-sm-12 peeps" >
      <blockquote class="blockquote">"Cette application est bien pratique pour l'organisation de nos concours de pétanque de notre quartier.
        Merci de ce partage."</blockquote><p>Michel, 56 ans<br>Pétanque</p>
  </div>
</section>
</section>


