<section class="container-fluid pt-8" id="top">
  <section class="container" >
    <div class="row right">
      <div class="offset-lg-1 col-lg-7 col-md-6 col-xs-12">
        <div class="row" id="maintitle">
          <h1 class="display-4 font-weight-bold">THE APP TO CHALLENGE YOUR FRIENDS,</br> Let the Game begin !</h1>
            <p>
              Are you a soccer, golf, tennis, darts or even ping pong players?</br>
              Create your own leagues, enter your games, analyse results and get history and leaderboards.</br></br>Who's the champ ?
            </p>
        </div>
        <div class="text-center">
          <%= link_to "Let's go !", leagues_path, class: "btn btn-danger", id: 'btn_start' %>
          </br>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12 col-md-6 text-center">
        <%= image_tag("iphone.png", :class => "iphone")%>
      </div>
    </div>
  </section>
</section>
