<div class='container'>
  <h2>Who would you like to add ? </h2>
    <%= form_tag add_players_league_path do |f|%>
        <div class = "form-group">
          <%=text_field_tag :name, nil, { placeholder: "Player's name", class: 'form-control' }%>
        </div>
        <%= submit_tag "Add this player", class: "btn btn-primary" %>
    <% end %>
</div>
