<div class="container">
<h2>Create a new league</h2>
  <%= form_for @league, url: {action: 'create'}, html: {class: 'nifty_form'} do |f| %>
    <%=f.text_field :name, placeholder: "League name"%>
    <%=f.text_field :sport, placeholder: "Sport"%>
    <%=f.submit "Create"%>
  <% end %>
</div>