<div class="container">
  <h2>In <%=@league.name%>, we have</h2>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player's name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player|%>
      <tr>      
          <td><%= player.name %></td>
          <td></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>
