<div class='container'>
  <% if current_admin.present? %>
    <h2>Here's league : <%=@league.name%></h2>
    <p><%= link_to 'My leagues', leagues_path, class: 'btn btn-primary' %></p></br>
  <% else %>
    <%= link_to match_history_league_path(@league) do %>
    <i class="fas fa-history" data-toggle="tooltip" data-placement="top" title="History" id='icon_league4'></i><%end%>
    <%= link_to leaderboard_league_path(@league) do %>
    <i class="fas fa-trophy" data-toggle="tooltip" data-placement="top" title="Leaderboard" id='icon_league3'></i><%end%>
  <% end %>
</div>
